In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_theme(style="ticks", font_scale=1.3)
plt.rc("axes.spines", top=False, right=False)

# **Topic 2**
**

In [3]:
df = pd.read_csv("data/raw/Advanced.csv", index_col=[0])
df

,season,player_id,player,birth_year,pos,age,experience,lg,tm,g,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
seas_id,,,,,,,,,,,,,,,,,,,,,
30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,24,...,7.5,17.7,0.3,0.2,0.5,0.114,-0.4,-0.6,-0.9,0.1
30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,10,...,0.0,22.4,0.0,0.0,0.0,0.088,-0.7,-2.6,-3.3,0.0
30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,1,...,0.0,21.4,0.0,0.0,0.0,0.384,-2.3,7.6,5.3,0.0
30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,9,...,0.0,22.4,0.0,0.0,0.0,0.065,-0.6,-3.4,-4.0,0.0
30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,46,...,10.8,21.3,3.4,1.4,4.8,0.165,2.7,-0.5,2.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,12,...,NaN,NaN,0.3,-0.1,0.3,NaN,NaN,NaN,NaN,NaN
201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,33,...,NaN,NaN,-0.4,0.3,-0.1,NaN,NaN,NaN,NaN,NaN
202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,50,...,NaN,NaN,-0.7,1.5,0.8,NaN,NaN,NaN,NaN,NaN
203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,21,...,NaN,NaN,0.6,0.0,0.6,NaN,NaN,NaN,NaN,NaN
204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,55,...,NaN,NaN,1.6,0.7,2.2,NaN,NaN,NaN,NaN,NaN